
@model TotalCaloriesBurned

    
    @{

     ViewData ["Title"] = "Home Calute page";
     } 
     <h2> لعد خطواتك اظغط على الرابط التالي </h2>
    
     <br/>
   <button>  <a asp-action="Steps" asp-controller="Pedometer" class="btn-primary" > حساب خطواتك </a> </button>

