
@model TotalCaloriesBurned

    
     
    
 
   <form asp-action="StepsToCalories"  asp-controller="Pedometer" method="post">
<input type="number"  name="num" class="form-control"   >
<button type="submit">calucte</button>
   </form>